# Exercício - Mini Projeto de Análise de Dados

Vamos fazer um exercício completo de pandas para um miniprojeto de análise de dados.

Esse exercício vai obrigar a gente a usar boa parte dos conhecimento de pandas e até de outros módulos que já aprendemos ao longo do curso.

### O que temos?

Temos os dados de 2019 de uma empresa de prestação de serviços. 

- CadastroFuncionarios
- CadastroClientes
- BaseServiçosPrestados

Obs1: Para ler arquivos csv, temos o read_csv<br>
Obs2: Para ler arquivos xlsx (arquivos em excel normais, que não são padrão csv), temos o read_excel

### O que queremos saber/fazer?

1. Valor Total da Folha Salarial -> Qual foi o gasto total com salários de funcionários pela empresa? <br>
    Sugestão: calcule o salário total de cada funcionário, salário + benefícios + impostos, depois some todos os salários
    
    
2. Qual foi o faturamento da empresa?<br>
    Sugestão: calcule o faturamento total de cada serviço e depois some o faturamento de todos
    
    
3. Qual o % de funcionários que já fechou algum contrato?<br>
    Sugestão: na base de serviços temos o funcionário que fechou cada serviço. Mas nem todos os funcionários que a empresa tem já fecharam algum serviço.<br>
    . Na base de funcionários temos uma lista com todos os funcionários<br>
    . Queremos calcular Qtde_Funcionarios_Fecharam_Serviço / Qtde_Funcionários_Totais<br>
    . Para calcular a qtde de funcionários que fecharam algum serviço, use a base de serviços e conte quantos funcionários tem ali. Mas lembre-se, cada funcionário só pode ser contado uma única vez.<br><br>
    Dica: se você aplicar o método .unique() em uma variável que é apenas 1 coluna de um dataframe, ele vai excluir todos os valores duplicados daquela coluna.<br>
    Ex: unicos_colunaA = dataframe['colunaA'].unique() te dá como resposta uma lista com todos os itens da colunaA aparecendo uma única vez. Todos os valores repetidos da colunaA são excluidos da variável unicos_colunaA 
    
    
4. Calcule o total de contratos que cada área da empresa já fechou


5. Calcule o total de funcionários por área


6. Qual o ticket médio mensal (faturamento médio mensal) dos contratos?<br>
    Dica: .mean() calcula a média -> exemplo: media_colunaA = dataframe['colunaA'].mean()

Obs: Lembrando as opções mais usuais de encoding:<br>
encoding='latin1', encoding='ISO-8859-1', encoding='utf-8' ou então encoding='cp1252'

Observação Importante: Se o seu código der um erro na hora de importar os arquivos:<br>
- CadastroClientes.csv
- CadastroFuncionarios.csv

Use separador ";" (ponto e vírgula) para resolver

# Configurando notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
# ajustes de display
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.5f}'.format)

# Lendo arquivos

In [3]:
cad_cli = pd.read_csv(r'../data/CadastroClientes.csv',
                     sep = ';',
                     encoding = 'utf-8')

In [4]:
cad_cli.head(5)

   ID Cliente             Cliente  Valor Contrato Mensal
0           1  Teixeira Gonçalves                    540
1           2        Souza Santos                   1260
2           3        Emídio Alves                   3195
3           4        Santos Costa                   2520
4           5         Do Monteiro                   3510

In [15]:
cad_cli.shape

(320, 3)

In [18]:
cad_cli['ID Cliente'].nunique()

320

In [5]:
cad_func = pd.read_csv(r'../data/CadastroFuncionarios.csv',
                     sep = ';',
                     encoding = 'utf-8',
                      decimal = ',')

In [6]:
cad_func.head(5)

   ID Funcionário Estado Civil           Nome Completo  Salario Base    Impostos  Beneficios   VT        VR       Cargo            Area
0               1            C        Gabriel Mesquita         21910 10955.00000  4382.00000  242 719.04000     Diretor       Operações
1               2            C             João Haddad          5404  2702.00000  1080.80000  154 574.56000  Estagiário       Logística
2               3            C  Amanda Marques Ribeiro         16066  8033.00000  3213.20000  154 729.12000  Estagiário  Administrativo
3               4            C         Guilherme Nunez         21305 10652.50000  4261.00000  220 524.16000    Analista  Administrativo
4               5            C           Adelino Gomes          5098  2549.00000  1019.60000  176 725.76000    Analista  Administrativo

In [7]:
base_serv = pd.read_excel(r'../data/BaseServiçosPrestados.xlsx')

In [8]:
base_serv.head(5)

  Codigo do Servico  ID Funcionário  ID Cliente  Tempo Total de Contrato (Meses)
0            OS0001              67           1                               14
1            OS0002              17           2                               12
2            OS0003             116           4                               14
3            OS0004              37           5                                8
4            OS0005             130           6                                8

In [16]:
base_serv.shape

(237, 4)

In [17]:
base_serv['ID Cliente'].nunique()

236

# Análise

1. Valor Total da Folha Salarial -> Qual foi o gasto total com salários de funcionários pela empresa? <br>
    Sugestão: calcule o salário total de cada funcionário, salário + benefícios + impostos, depois some todos os salários

Criando nova coluna e somando valores

In [56]:
cad_func['Salario Total'] = cad_func['Salario Base'] + cad_func['Impostos'] + cad_func['Beneficios'] + cad_func['VT'] + cad_func['VR']

In [58]:
print('Valor total folha salarial: R${:,}'.format(sum(cad_func['Salario Total'])))

Valor total folha salarial: R$2,717,493.22

Somando as colunas de uma única vez

In [62]:
print('Valor total folha salarial: R${:,.2F}'.format(sum(cad_func['Salario Base'])+
                                                  sum(cad_func['Impostos'])+
                                                  sum(cad_func['Beneficios'])+
                                                  sum(cad_func['VT'])+
                                                  sum(cad_func['VR'])))

Valor total folha salarial: R$2,717,493.22

Somando colunas selecionadas do df <br><br>
Tenha em mente que:
1. axis = 0, linhas, operação realizada navertical
2. axis = 1, colunas, operação realizada na horizontal

In [64]:
cad_func.loc[:,'Salario Base':'VR'].head(2)

   Salario Base    Impostos  Beneficios   VT        VR
0         21910 10955.00000  4382.00000  242 719.04000
1          5404  2702.00000  1080.80000  154 574.56000

In [67]:
cad_func['Salario Total_v2'] = cad_func.loc[:,'Salario Base':'VR'].sum(axis= 1)
print('Valor total folha salarial: R${:,.2F}'.format(cad_func['Salario Total_v2'].sum()))

Valor total folha salarial: R$2,717,493.22

2. Qual foi o faturamento da empresa?<br>
    Sugestão: calcule o faturamento total de cada serviço e depois some o faturamento de todos

In [20]:
faturamento = cad_cli.merge(base_serv, 
                           on = 'ID Cliente',
                           indicator = True)

In [21]:
faturamento.shape

(237, 7)

In [23]:
faturamento['valor_x_meses'] = faturamento['Valor Contrato Mensal']*faturamento['Tempo Total de Contrato (Meses)']

In [24]:
faturamento.head()

   ID Cliente             Cliente  Valor Contrato Mensal Codigo do Servico  ID Funcionário  Tempo Total de Contrato (Meses) _merge  valor_x_meses
0           1  Teixeira Gonçalves                    540            OS0001              67                               14   both           7560
1           2        Souza Santos                   1260            OS0002              17                               12   both          15120
2           4        Santos Costa                   2520            OS0003             116                               14   both          35280
3           5         Do Monteiro                   3510            OS0004              37                                8   both          28080
4           6         Soares Lobo                   2340            OS0005             130                                8   both          18720

In [25]:
print('Faturamento da empresa: R${:,}'.format(sum(faturamento['valor_x_meses'])))

Faturamento da empresa: R$5,519,160

3. Qual o % de funcionários que já fechou algum contrato?<br>
    Sugestão: na base de serviços temos o funcionário que fechou cada serviço. Mas nem todos os funcionários que a empresa tem já fecharam algum serviço.<br>
    . Na base de funcionários temos uma lista com todos os funcionários<br>
    . Queremos calcular Qtde_Funcionarios_Fecharam_Serviço / Qtde_Funcionários_Totais<br>
    . Para calcular a qtde de funcionários que fecharam algum serviço, use a base de serviços e conte quantos funcionários tem ali. Mas lembre-se, cada funcionário só pode ser contado uma única vez.<br><br>
    Dica: se você aplicar o método .unique() em uma variável que é apenas 1 coluna de um dataframe, ele vai excluir todos os valores duplicados daquela coluna.<br>
    Ex: unicos_colunaA = dataframe['colunaA'].unique() te dá como resposta uma lista com todos os itens da colunaA aparecendo uma única vez. Todos os valores repetidos da colunaA são excluidos da variável unicos_colunaA

In [45]:
print('Total de funcionários: {:,}\nFuncionários que já fecharam algum serviço: {:,}\n% Propoção {:.2%}'.format(cad_func['ID Funcionário'].nunique(),
                                                                                                              base_serv['ID Funcionário'].nunique(), 
                                                                                                              base_serv['ID Funcionário'].nunique()/cad_func['ID Funcionário'].nunique()))

Total de funcionários: 114
Funcionários que já fecharam algum serviço: 99
% Propoção 86.84%

4. Calcule o total de contratos que cada área da empresa já fechou

In [70]:
contrato_aux = cad_func.merge(base_serv,
                             on = 'ID Funcionário')

Método 1: groupby

In [72]:
contrato_area = contrato_aux[['ID Cliente', 'Area']].groupby('Area').count().reset_index()
contrato_area

             Area  ID Cliente
0  Administrativo          63
1       Comercial          44
2      Financeiro          42
3       Logística          40
4       Operações          48

Método 2: value_counts()

In [73]:
contrato_aux['Area'].value_counts()

Administrativo    63
Operações         48
Comercial         44
Financeiro        42
Logística         40
Name: Area, dtype: int64

5. Calcule o total de funcionários por área

In [52]:
fun_area = cad_func[['ID Funcionário', 'Area']].groupby('Area').count().reset_index()
fun_area

             Area  ID Funcionário
0  Administrativo              26
1       Comercial              26
2      Financeiro              18
3       Logística              21
4       Operações              23

6. Qual o ticket médio mensal (faturamento médio mensal) dos contratos?<br>
    Dica: .mean() calcula a média -> exemplo: media_colunaA = dataframe['colunaA'].mean()

In [75]:
print('Faturamento médio mensal {:,.2f}'.format(cad_cli['Valor Contrato Mensal'].mean()))

Faturamento médio mensal 2,502.56