# CRUD -  Python e SQL

1. Create
2. Read
3. Update
4. Delete

## Confirgurando notebook

In [2]:
import pyodbc

# CREATE

## Conexao com o db

In [2]:
dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                 "Server=localhost;"
                 "Database=../data/chinook.db")
conexao = pyodbc.connect(dados_conexao)
print('Conexão bem sucedida!')
#dica: não use espaços na tupla de dados_conexao

Conexão bem sucedida!

## Lendo cursor

In [3]:
cursor = conexao.cursor()

## Comandos SQL

In [4]:
cursor.execute('''
INSERT INTO albums (Title, ArtistId)
VALUES
('Caroline and the diamons', 4)
''')

# usar 3 aspas simples permite escrever quebrando linhas
## idem para aspas duplas

## Tornar permanente as mudanças feitas

In [5]:
cursor.commit()

## Encerrando conexão (IMPORTANTE)

In [6]:
cursor.close()
conexao.close()

# READ

## Conexao com o db

In [20]:
dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                 "Server=localhost;"
                 "Database=../data/chinook.db")
conexao = pyodbc.connect(dados_conexao)
print('Conexão bem sucedida!')
#dica: não use espaços na tupla de dados_conexao

Conexão bem sucedida!

## Lendo cursor

In [23]:
cursor = conexao.cursor()

## Comandos SQL

In [24]:
cursor.execute('''
SELECT * FROM customers
''')

# usar 3 aspas simples permite escrever quebrando linhas
## idem para aspas duplas

## Pandas DataFrame

In [25]:
import pandas as pd

In [26]:
linhas_tabela = cursor.fetchall()

In [27]:
descrip = cursor.description

In [28]:
descrip

(('CustomerId', int, None, 10, 10, 0, True),
 ('FirstName', str, None, 40, 40, 0, True),
 ('LastName', str, None, 20, 20, 0, True),
 ('Company', str, None, 80, 80, 0, True),
 ('Address', str, None, 70, 70, 0, True),
 ('City', str, None, 40, 40, 0, True),
 ('State', str, None, 40, 40, 0, True),
 ('Country', str, None, 40, 40, 0, True),
 ('PostalCode', str, None, 10, 10, 0, True),
 ('Phone', str, None, 24, 24, 0, True),
 ('Fax', str, None, 24, 24, 0, True),
 ('Email', str, None, 60, 60, 0, True),
 ('SupportRepId', int, None, 10, 10, 0, True))

In [29]:
costumers_columns = [k[0] for k in descrip]
costumers_columns

['CustomerId',
 'FirstName',
 'LastName',
 'Company',
 'Address',
 'City',
 'State',
 'Country',
 'PostalCode',
 'Phone',
 'Fax',
 'Email',
 'SupportRepId']

In [30]:
df_cust = pd.DataFrame.from_records(linhas_tabela, columns = costumers_columns)
df_cust.head(3)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,caroline@update.sql,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

## Encerrando conexão (IMPORTANTE)

In [31]:
cursor.close()
conexao.close()

# UPDATE

In [21]:
dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                 "Server=localhost;"
                 "Database=../data/chinook.db")
conexao = pyodbc.connect(dados_conexao)
print('Conexão bem sucedida!')
#dica: não use espaços na tupla de dados_conexao

Conexão bem sucedida!

## Lendo cursor

In [22]:
cursor = conexao.cursor()

## Comandos SQL

In [24]:
cursor.execute('''
UPDATE customers SET Email = "caroline@update.sql" 
WHERE CustomerId = "1"
''')

# usar 3 aspas simples permite escrever quebrando linhas
## idem para aspas duplas

## Tornar permanente as mudanças feitas

In [25]:
cursor.commit()

## Encerrando conexão (IMPORTANTE)

In [26]:
cursor.close()
conexao.close()

# DELETE

In [27]:
dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                 "Server=localhost;"
                 "Database=../data/chinook.db")
conexao = pyodbc.connect(dados_conexao)
print('Conexão bem sucedida!')
#dica: não use espaços na tupla de dados_conexao

Conexão bem sucedida!

## Lendo cursor

In [28]:
cursor = conexao.cursor()

## Comandos SQL

In [29]:
cursor.execute('''
DELETE FROM albums 
WHERE Title = "Caroline and the diamons"
''')

# usar 3 aspas simples permite escrever quebrando linhas
## idem para aspas duplas

## Tornar permanente as mudanças feitas

In [30]:
cursor.commit()

## Encerrando conexão (IMPORTANTE)

In [31]:
cursor.close()
conexao.close()