## Exercício Desafio

- Digamos que seu chefe pediu para você um relatório da análise dos salários da unidade de San Francisco da empresa. O objetivo dele é entender:

1. Qual foi a evolução do salário médio ao longo dos anos (TotalPay e TotalPayBenefits)
2. Quantos funcionários tivemos ao longo dos anos
3. Qual foi a evolução do total gasto com salário ao longo dos anos (TotalPayBenefits)

- Base de Dados a ser usada: salarios.sqlite

### Configurando notebook

In [2]:
import pandas as pd
import sqlite3

In [18]:
pd.set_option('display.float_format', '{:.5f}'.format)

### Importação da Base de Dados

#### Conexão com o db usando o ``pd.read_sql``

In [3]:
conexao = sqlite3.connect('../data/salarios.sqlite')

In [5]:
tbl_sal = pd.read_sql('SELECT * FROM salaries',
                     conexao)
tbl_sal.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,,335279.91,335279.91,2011,,San Francisco,

#### Encerrar conexão

In [6]:
conexao.close()

### Análise de Dados

In [22]:
# garantindo que estamos só com San Francisco
tbl_sal = tbl_sal.loc[tbl_sal['Agency'] == 'San Francisco', :]

##### 1. Qual foi a evolução do salário médio ao longo dos anos

In [29]:
sal_medio_anos = tbl_sal[['TotalPay','TotalPayBenefits', 'Year']].groupby('Year').mean()
sal_medio_anos

        TotalPay  TotalPayBenefits
Year
2011 71744.10387       71744.10387
2012 74113.26227      100553.22923
2013 77611.44314      101440.51971
2014 75463.91814      100250.91888

##### 2. Quantos funcionários tivemos ao longo dos anos

In [26]:
func_anos = tbl_sal[['Id', 'Year']].groupby('Year').count()
func_anos

         Id
Year
2011  36159
2012  36766
2013  37606
2014  38123

##### 3. Qual foi a evolução do total gasto com salário ao longo dos anos

###### formatando valor no df

In [40]:
def formatar(valor):
    return 'R$ {:,.2f}'.format(valor)

In [41]:
total_sal_anos = tbl_sal[['TotalPayBenefits', 'Year']].groupby('Year').sum()
total_sal_anos['TotalPayBenefits'] = total_sal_anos['TotalPayBenefits'].apply(formatar)
total_sal_anos

         TotalPayBenefits
Year
2011  R$ 2,594,195,051.88
2012  R$ 3,696,940,025.96
2013  R$ 3,814,772,184.37
2014  R$ 3,821,865,780.60